/*Importing the Quicksand Google font*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/*Setting the body font to Quicksand, and the backups of Arial, Helvetica, and sans-serif*/
body {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif

}
/*Setting anchor to black*/
a {
    text-decoration: none;
    color:black
}
/*Setting logo values*/
.logo{
    width: 400px;
    height: 400px;
}
/*Setting hr values*/
hr {
    margin: 0px;
    width: 100%;
    height: 5px;
    background-color: black;
    border: 0px;
    align-content: right;
}
/*Setting header 1 product values*/
h1 {
    font-weight: normal;
    color: black;
    text-decoration: none;
    text-align: right;
    width: fit-content;
}

/*Setting product hover values*/
h1:hover {
    background-color: yellow;
    font-weight: bold;
    color: black;
}
/*Setting header2 values*/
h2 {
    text-align: left;
    font-weight: normal;
    font-size: 35px;
    text-decoration: none;
    color: black;
}
/*Setting productCard values*/
.productCard {
    text-align: left;
    padding: 0.5%;
}

/*Setting product card hover values*/
.productCard:hover {
    background-color: yellow;
    font-weight: bold;
}
/*Setting product images values*/
.productimages{
    width: 285px;
    height: 285px;
    display: block;
    margin:auto;
    border: 3px solid black;
}
/*Setting price values*/
p.price {
    text-decoration: underline;
    color: black;
    text-align: left;
    font-size: 20px;
    width: 285px;
}
/*Setting cost values*/
p.cost {
    text-align: left;
    font-size: 20px;
    width: 285px;
}
/*Setting detail card values*/
.detailCard{
    margin: auto;
    text-align: start;
    padding-top: 2%;
}
/*Setting product image detail values*/
.productimagedetail {
    width: 600px;
    height: 600px;
    display: block;
    margin:none;
    border: 5px solid;
}
/*Setting drop down section values*/
.dropDownSection {
    margin: none;
    width: 20%;  /* originially fit-content*/
    padding: 2%;;
}
/*Setting paragraph values*/
p {
    font-size: 20px;
}
/*Setting customize values*/
.customize {
    width: 100%;
    line-height: 175%;
}
/*Setting options values*/
.options{
    text-align: left;
    padding-top: 2%;
}
/*Setting dropdown values*/
.dropdown{
    margin: auto;
    width: 100%;
    padding: 3%;
}
/*Setting add to cart vaues*/
.addToCart{
    margin: none;
    width: 100%;
    padding-top: 15%;
}
/*Setting detail price value*/
p.detailPrice{
    font-weight: bold;
    padding: 10%;
}
/*Setting button values*/
button.addToCartButton{
    width: 50%;
    height: 30%;
    font-weight: bold;
    font-size: inherit;
}
/*Setting click hover value*/
button:hover{
    background-color: yellow;
}
.shoppingContainer{
    margin-left: 35%;
    margin-right: 5%;
}
/*Setting cart card values*/
.cartCard{
    line-height: 3px; 
}
/*Setting product image cart values*/
.productimagecart {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    border: 5px solid;
}
.orderDetailsContainer{
    width: 100%;
    height: 200px;
}
.orderDetails{
   padding-left: 5%;
   width: 100%;
   line-height: normal;
}
.total{
    width:fit-content;
    padding-left: 10%;
}
/*Setting remove values*/
.remove{
    font-size: 20px;
    font-weight:bold;
    text-decoration: underline;
    width: fit-content;
}
/*Setting shopping hr line value*/
hr.shopping{
    width:100%;
}
/*Setting checkout values*/
.checkout{
    margin: auto;
    text-align: center;
    width: fit-content;
    display: block;
    line-height: 300%;
}
p.totalWord{
    width: fit-content;
    padding-left: 30%;
}
p.totalPrice{
    width: fit-content;
}
button.checkoutButton {
    width: 20%;
    padding:2%;
    font-weight: bold;
    font-size: inherit;
}
button.checkoutButton:hover{
    background-color: yellow;
}


/*end of base styles*/



.pageHeader{
    display: flex;
    gap: 1em;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

.titleKeywords{
   display: flex;
   justify-content: flex-end;
   gap: 7em;
   margin-right: 5%;
}

hr.titleHeader{
    display: flex;
    align-self: right;
}
.productCardParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:start;
}

.detailCard{
    display: flex;
    justify-content: space-evenly;
}

.dropDownSection{
    display: flex;
    flex-direction: column;
    
}

.addToCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

















.shoppingContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cartCard{
    display: flex;
}
.imageCartCard{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}

.orderDetailsContainer{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.orderDetails{
    align-self:auto;
}

.totalCheckoutPrice{
    display: flex;
    justify-content: right;
}

.totalWord{
    flex-grow: 1;
}

.checkoutButton{
    align-self: flex-end;
}






