/*Importing the Quicksand Google font*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/*Setting the body font to Quicksand, and the backups of Arial, Helvetica, and sans-serif*/
body {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif

}
/*Setting anchor to black*/
a {
    text-decoration: none;
    color:black
}
/*Setting logo values*/
.logo{
    width: 400px;
    height: 400px;
}
/*Setting hr values*/
hr {
    width: auto;
    height: 3px;
    background-color: black;
}
/*Setting header 1 product values*/
h1.product {
    width: fit-content;
    height: auto;
    margin: auto;
    font-weight: normal;
    color: black;
    text-decoration: none;
}
/*Setting header 1 cart values*/
h1.cart {
    width: fit-content;
    height: auto;
    margin: auto;
    font-weight: normal;
    color: black;
    text-decoration: none;
    padding-top: 5px;
}
/*Setting product hover values*/
.product:hover {
    background-color: yellow;
    font-weight: bold;
    color: black;
}
/*Setting cart hover values*/
.cart:hover{
    background-color: yellow;
    font-weight: bold;
    color: black;
}
/*Setting header2 values*/
h2 {
    text-align: center;
    font-weight: normal;
    font-size: 25;
    text-decoration: none;
    color: black;
}
/*Setting productCard values*/
.productCard {
    width: 35%;
    margin: auto;
    line-height: 3px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: left;
}
/*Setting product card hover values*/
.productCard:hover {
    background-color: yellow;
    font-weight: bold;
}
/*Setting product images values*/
.productimages{
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}
/*Setting price values*/
p.price {
    text-decoration: underline;
    color: black;
    text-align: left;
    padding: 5px;
    font-size: 20px;
}
/*Setting cost values*/
p.cost {
    text-align: left;
    padding: 5px;
    font-size: 20px;
}
/*Setting detail card values*/
.detailCard{
    margin: auto;
    text-align: start;
    padding-top: 2%;
}
/*Setting product image detail values*/
.productimagedetail {
    width: 600px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid;
}
/*Setting drop down section values*/
.dropDownSection {
    margin: auto;
    width: 20%;  /* originially fit-content*/
}
/*Setting paragraph values*/
p {
    font-size: 20px;
}
/*Setting customize values*/
.customize {
    margin: auto;
    width: 100%;
    text-align: left;
    padding-top: 2%;
}
/*Setting options values*/
.options{
    text-align: left;
    padding-top: 2%;
}
/*Setting dropdown values*/
.dropdown{
    margin: auto;
    width: 100%;
    padding: 3%;
}
/*Setting add to cart vaues*/
.addToCart{
    margin: auto;
    text-align: center;
    width: 20%;
    padding:5%;
}
/*Setting detail price value*/
p.detailPrice{
    font-weight: bold;
}
/*Setting button values*/
button{
    float:right;
    width: 50%;
    padding: 2%;
}
/*Setting click hover value*/
button:hover{
    background-color: yellow;
}
/*Setting cart card values*/
.cartCard{
    line-height: 3px;
    width: 30%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 5px;
    line-height: 3px;
}
/*Setting product image cart values*/
.productimagecart {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    border: 5px solid;
}
.orderDetails{
    margin: auto;
    width:fit-content;
    text-align: center;
    padding: 5%;
}
.total{
    margin: auto;
    width:fit-content;
    padding: 2%;
}
/*Setting remove values*/
.remove{
    font-size: 10px;
    text-decoration: underline;
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 3%;
}
/*Setting shopping hr line value*/
hr.shopping{
    width:70%;
}
/*Setting checkout values*/
.checkout{
    margin: auto;
    text-align: center;
    width: fit-content;
    display: block;
    line-height: 300%;
}
p.totalPrice{
    margin: auto;
    width: fit-content;
}
button.checkoutButton {
    align-items: center;
    width: 100%;
    padding:2%;
    display: block;
}
button.checkoutButton:hover{
    background-color: yellow;
}


















































