/*Importing the Quicksand Google font*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
/*Setting the body font to Quicksand, and the backups of Arial, Helvetica, and sans-serif*/
body {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif
}
/*styling h1s*/
h1 {
    font-weight: normal;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin: auto;
}
/*styling the images on my home page*/
.img-thumbnail{
    width: 350px;
    height: 280px;
    display: block;
    margin:auto;
    padding:0px;
}
/*main container for the content on my home page*/
.container{
    margin: 20px;
}
/*styling the borders of the states*/
path {
    stroke: #F3F0E8;
    fill: #B0B9A8 !important;
    transition: fill .4s ease;
    transform-origin: center center;
}
/*styling the state changing color upon hover*/
path:hover {
    fill: #DCB482 !important;
    cursor: pointer;
    transform: scale(1.005, 1.005);
}
/*styling the us map on my map page*/
#us-map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    align-items: center;
    padding-top: 6%;
}
/*styling the box that has the state name on the map page*/
#details-box {
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.7);
    opacity: 0%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 18px;
    position: fixed;
    color: #5E5E5E;
    font-family: "Poppins";
    background-color: #F3F0E8;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}
/*styling the images on the flashcards*/
.card-img-top{
    height: 200px;
    width: 300px;
    align-items: center;
    padding: 10%;
}
/*styling the flashcards*/
.card {
    width: 300px;
    height: 300px;
}
/*styling the carousel of flashcards*/
.carousel {
    width: 100%;
}
/*styling the title on my homepage*/
.openingtitle{
    color: black;
    text-decoration: none;
    align-items: center;
    width: fit-content;
    font-size: 38px;
}
/*styling the title on my homepage when you hover over it*/
.openingtitle:hover{
    font-weight: bold;
}
/*styling the arrow next to the title on my homepage*/
.arrow{
    width: 35px;
}
/*styling the images on the bottom row of my homepage*/
#bottomRow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:16px;
}
/*setting the background color of my homepages*/
body{
    background-color: #F3F0E8;
}
/*styling the title of the flashcards*/
.card-title-flower,
.card-title-bird,
.card-title-capital,
.card-title-city,
.card-title-nickname,
.card-title-statehood,
.card-title-abbreviation,
.card-title-musician,
.card-title-food {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
/*styling the content of the flashcards*/
.card-text-flower,
.card-text-bird,
.card-text-capital,
.card-text-city,
.card-text-nickname,
.card-text-statehood,
.card-text-abbreviation,
.card-text-musician,
.card-text-food {
    text-align: center;
    font-size: 18px;
}
/*styling the arrows of the flashcard carousel*/
#carouselExampleControls{
    padding:15%;
    padding-top: 5%;
}
/*styling the title of the individual state page*/
#stateTitle{
    padding-top: 60px;
}
/*styling the navigation bar*/
.topnav {
    background-color: #F3F0E8;;
    overflow: hidden;
    position: fixed;
}
/*styling the anchor elements of the navigation bar*/
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}
/*styling the anchor elements of the navigation bar on hover*/
.topnav a:hover {
    font-weight: bold;
}
/*styling the active anchor elements of the navigation bar*/
.topnav a.active {
    background-color: #E2DACF;
    color: black;
}
/*styling the main container of the quiz page*/
.quiz-container {
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 10%;
}
/*styling the container of the question on the quiz page*/
#question-container {
    margin-bottom: 20px;
}
/*styling the text of the question on the quiz page*/
#question-text {
    font-size: 18px;
    margin-bottom: 10px;
}
/*styling the buttons with answers on the quiz page*/
#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
/*styling the buttons on the quiz page*/
button {
    height: 40px;
    font-size: 16px;
    background-color: #eaeaea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*styling the buttons on the quiz page as they are hovered over*/
button:hover {
    background-color: #d2d2d2;
} 
/*styling the navigation bar*/
.topnav{
    position: relative;
    z-index: 9999;
}
/*styling the button used to start the quiz on the quiz page*/
#start-button {
    padding: 10px 20px;
    display: block;
        margin-left: auto;
        margin-right: auto;
}
/*styling the button on the quiz page for when someone gets the answer correct*/
.answer-button.correct-answer {
    background-color: #4CAF50; /* Green color for correct answers */
    color: white;
}
/*styling the button on the quiz page for when someone gets the answer wrong*/
.answer-button.wrong-answer {
    background-color: #f44336; /* Red color for wrong answers */
    color: white;
}
/*styling the buttons under the carousel on the flashcard page*/
#left,
#right {
    background-color: #f3f0e8;
}