
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');


body {
    font-family: 'Quicksand'
}


.productCard {
    width: auto;
    height: auto;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 15px;
    padding-bottom: 1px;
}


.product {
    width: auto;
    height: auto;
    margin-left: 500px;
    margin-right: 500px;
}

.cart {
    width: auto;
    height: auto;
    margin-left: 500px;
    margin-right: 500px;
}

.remove{
    font-size: 10px;
    text-decoration: underline;
}

.logo{
    width: 400px;
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    text-align: center;
    font-size: 30;
   
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 25;
}


.price {
    text-decoration: underline;
    color: black;
}

hr {
    width: auto;
    height: 3px;
    background-color: black;
}


p {
    text-align: center;
    font-size: 25px;
}

.cost {
    text-align: left;
    padding: 5px;
}

.price {
    text-align: left;
    padding: 5px;
}

.productimages{
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}

.productimagedetail {
    width: 600px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid;
}

.productimagecart {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid;
}

.cartCard{
    line-height: 3px;
}

.dropdown {
    text-align: left;
}

.productCard:hover {
    background-color: yellow;
    font-weight: bold;
}

.product:hover {
    background-color: yellow;
}

.cart:hover{
    background-color: yellow;
    font-weight: bold;
}

hr.shopping{
    width:800px;
}

.click:hover{
    background-color: yellow;
}

.addToCart{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.checkout{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.click{
    display: inline-block;
    margin-left: 20px;
}

.detailCard{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

p {
    font-size: 20px;
}

.detailCard{
    text-align: center;
}

.dropdown{
    width: 200px;
    padding: 5px;
}

.dropDownSection {
    width: 325px;
    height: 325px;
    margin-left: 475px;
    text-align: right;
}

.customize {
    width: 250px;
    margin-left: 600px;
    text-align: left;
}















